
body {

  font-family: 'Open Sans';
  font-weight: 300;
  
}

.pb {
  font-weight: 400;
}





.header-nav {

  display: flex;
  justify-content: center;

}




nav {
  width: 100%;
  max-width: 1310px;
  padding-left: 5%;
  padding-right: 5%;
  /* margin-left: auto; */
  /* margin-right: auto; */
  display: flex;
  justify-content: space-between;
  font-family: 'Proza Libre', sans-serif;
  
}

.logo {
  color: rgb(41, 233, 121);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  border: 1px solid;
  padding: 6px;
  align-self: flex-start;
  
  
}

a {
  text-decoration: none;
  color: darkslategray;
}

ul {
  list-style-type: none;
}

.main-menu {
display:flex;
}

.tools {
  display: flex;
  flex-wrap: wrap;
}

.main-menu > li,
.tools > li {

  margin-right: 0.5rem;

}

nav :hover {
  color: rgb(18, 228, 28);
}

